/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Light-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'Roboto';
    src: url(Roboto-LightItalic-webfont.woff) format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family:'Roboto';
    src: url(Roboto-Bold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

:root {
    --dark-color:#1F2937;
    --light-color:#F9FAF8;
    --mid-color:#E5E7EB;
    --accent:#3882F6;
    --hover-color:#381FFF;
}

body {
    font-family:'Roboto', sans-serif;
}

.centre {
    width: 80%;
    margin: 0 auto;
}

.container {
    padding: 60px 0;
}

header,
.hero-container,
footer {
    background-color: var(--dark-color);
}

.cta-container {
    background-color: var(--accent);
}

.quote-container {
    background-color: var(--mid-color);
}

.info-container {
    background-color: var(--light-color);
}


/* header styles */

li {
    list-style: none;
}

.header-list {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.header-logo {
    font-size: 24px;
    color: var(--light-color);
    margin-right: auto;
    flex-shrink: 0;
}

a {
    font-size: 18px;
    color: var(--mid-color);
    text-decoration: none;
}

.header-link a:hover {
    color: var(--accent);
}

/* hero styles */

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color:var(--mid-color);
}

.sign-up {
    background-color: var(--accent);
    color: var(--light-color);
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up:hover {
    color: var(--accent);
    background-color:var(--light-color);
}

.hero-image {
    background-color: var(--mid-color);
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*  info styles */

.info-header {
    font-size: 36px;
    color: var(--dark-color);
    text-align: center;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid var(--accent);
    border-radius: 10px;
}

.card {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
}

.card-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 40px 0;
}